body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.scroll-lock {
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 300px;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?7yqume');
  src:  url('../assets/fonts/icomoon.eot?7yqume#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?7yqume') format('truetype'),
    url('../assets/fonts/icomoon.woff?7yqume') format('woff'),
    url('../assets/fonts/icomoon.svg?7yqume#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}