.datepicker-error { 
    border:1px solid red !important;
}

.react-datepicker-wrapper {
    display: inherit !important;
  }

  .react-datepicker__input-container {
    position: relative;
    display: inherit !important;
  }